@model IEnumerable<TravelBlog.Models.Experience>

@{
ViewData["Title"] = "To Do List";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Experiences</h2>
<h4>@Html.DisplayNameFor(model => model.Description)</h4>
<ul>
    @foreach (var listItem in Model)
    {
        <li>@Html.DisplayFor(modelItem => listItem.Description)</li>
    }
</ul>
<p>@Html.ActionLink("Add new experience", "Create")</p>
